* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.outer {
    width: 1200px;
    height: 530px;
    margin-left: auto;
    margin-right: auto;
}

article{
    width: 500px;
    height: 530px;
}

.i-blocked {
    display: inline-block;
}

body {
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 26px;
    border: 1px solid black;
}

nav, footer{
   padding: 1% 0;
   background-color: #aaa; 
   font-size: 16px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header {
    padding: 5% 0;
    min-height: 450px;
    margin: 0 10%;  
}

img {
    height: 400px;
    width: 500px;
    object-fit: cover; 
}

.surround {
    height: 400px;
    width: 500px;  
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
    }

.links {
    height: 30px;
    width: 500px;
}

.text {
    height: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

a:focus {
     background-color: yellow;
}

.apart {
    margin-left: 20px;
    margin-right: 20px;
}
    @media only screen and (max-width: 1000px) {
        img, .surround, .links {
          display: block;
          width: 100%;
        }
    }