* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

h1{
    font-size: 32px;
}

#outerContainer {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

article {
    width: 500px;
    padding-bottom: 40px;
}

body {
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 26px;
    margin-left: 10%;
    margin-right: 10%;
}

nav, footer{
   padding: 1% 0;
   background-color: #aaa; 
   font-size: 16px;
}

header{
    margin-top: 75px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

img {
    height: 400px;
    width: 500px;
    object-fit: cover; 
}

.surround {
    height: 400px;
    width: 500px;  
    border: 1px black solid;
    }

.links {
    height: 30px;
    width: 500px;
}

.text {
    width: 500px;
}

 @media screen and (min-width: 1400px) {
     #outerContainer {
        flex-direction: row;
        justify-content: space-evenly;
     }

     article {
        margin-left: 40px;
        margin-right: 40px;
     }
 }


 